$primary: #e8e2cc;
$secondary: #b9005f;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

// BOOTSTRAP EDITS
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  7: $spacer * 5,
  10: $spacer * 9,
);

$font-family-base: "Montserrat", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
}

// CUSTOM CSS

h2 {
  font-weight: bold;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar {
  position: relative;

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;

    img {
      height: 70px;
    }
  }

  &__cta {
    border-radius: 0;
    font-size: 14px;
  }
}

.carousel {
  h3 {
    font-size: 12px;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
  }

  hr {
    border: none;
    width: 40px;
    height: 2px;
    color: $secondary;
    opacity: 1;
  }

  &__img {
    position: relative;
  }

  &__text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
  }

  &-item {
    min-height: 300px;
    max-height: 729px;
  }
}

.about {
  &__col2 {
    overflow: hidden;
    object-fit: contain;
    position: relative;
  }

  &__img_container {
  }

  &__img {
    position: absolute;
    height: 100%;
  }

  &__header {
    font-size: 2rem;
  }

  &__set-number {
    font-size: 3rem;
    color: #d6d5d5;
  }

  &__cta {
    font-size: 18px;
  }
}

.render {
  img {
    height: 100%;
    object-fit: cover;
  }
}

.kit {
  img {
    height: 100%;
    object-fit: cover;
  }
}

.collab {
  h3 {
    font-size: 16px;
  }
}

.conclusion {
  hr {
    border: none;
    width: 70px;
    height: 2px;
    color: $secondary;
    opacity: 1;
  }

  &__text {
    font-size: 14px;
  }
}

.person {
  &__header {
    font-size: 18px;
  }
}

.bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  z-index: 999;
}

.display-none {
  display: none;
}

// Make the about image show up
@media only screen and (max-width: 768px) {
  .navbar__logo {
    margin-left: 0;
  }

  .about__img {
    position: static;
    width: 100%;
  }

  .carousel__img {
    width: auto !important;
    left: -300px;
  }
}
